<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
</head>
<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" alt="Logo" />
                </div>
            </a>
            <nav>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/work">Work</a></li>
                    <li><a href="/hobbies">Hobbies</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="content-body">
            <h1>Hobbies</h1>
            <ul class="work-list">
                <li>
                    I love citibiking and finding new spots in the City (Roosevelt Island is the best).
                </li>
                <li>
                    I also love food and will eat anything!
                </li>
            </ul>
          </div>
    </main>
</body>
</html>
